# Server Configuration
NODE_ENV=development
PORT=3000
HOST=localhost
API_URL=http://localhost:3000/api/v1
API_DOCS_URL=http://localhost:3000/api/v1/docs

# PostgreSQL Database Configuration
DB_HOST=db_host
DB_PORT=db_port
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_SSL=false

# JWT Configuration
SECRET_KEY=supersecretkey
BCRYPT_SALT_ROUNDS=12
ALGORITHM=HS256
TOKEN_EXPIRE_MIN=60
